[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
django-filter = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
